body {
    margin: 0;
    font-family: montserrat;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
ul{
    margin: 0 !important;
}

/* ====================

navbar

==================== */


nav {
    width: 100%;
    background: #e7e7e7;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px 50px; */
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 36px;
    justify-content: space-evenly;
    padding: 42px 0;
    z-index: 9999;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    font-family: montserrat;
}

nav ul li a:hover {
    color: #f0a500;
}

/* Hamburger Button */
.menu-btn {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-btn div {
    width: 25px;
    height: 3px;
    background: rgb(39, 35, 35);
    margin: 4px 0;
    transition: 0.3s;
}

/* Responsive */
@media(max-width:768px) {
    nav ul {
        position: absolute;
        top: 81px;
        left: -120%;
        background: #222;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: 0.3s;
    }

    nav ul.show {
        left: 0;
    }

    .menu-btn {
        display: flex;
    }
    nav ul li a{
        color: white;
    }
}

/* ====================

Welcome

==================== */

.section {
    padding: 80px 20px;
    text-align: center;
}

#home {
    background: url('https://images.unsplash.com/photo-1502877338535-766e1452684a') center/cover;
    height: 70vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ====================

Cars

==================== */

#cars {
    background: #f4f4f4;
}

.car {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cars-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.car img{
    width: 200px;
}
.car div{
    display: flex;
    justify-content: center ;
    gap: 40px;
}
/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


/* ====================

contact

==================== */
#contact {
    background: #fff;
    text-align: center;
}

/* ====================

whatsapp

==================== */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    color: green;
   background: linear-gradient(225deg, #1ce666 0%, #1ec55b 100%);
    padding: 9px 16px;
    border-radius: 50px;
    box-shadow: black 0px 0px 9px;
}
.fa-whatsapp{
    font-size: 40px;
    color: #ffffff;
}



